@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.dashboard-title {
  font-size: 2.5rem;
  font-family: 'Kaushan Script', cursive;
  border: 4px solid black;
  margin-top: 1rem;
  text-align: center
}

.flex { 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logout {
  display:block;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

.searchedBeerItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width: 768px) {
 
  .content {
    height:30vh;
  }
  
}

@media (max-width: 600px) {
  .displayDash:last-child {
    margin-bottom: 3%;
  }
}