.align {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

  }

  
  .grid {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    max-width: 24em;
    width: 90%;
  }
   
 
  
  .login__header {
    background-color: green;
    color:#fff;
    padding: 1.5em;
    text-align: center;
   
  }
  
   .login__title {
    font-size: 16px;
    font-size: 1rem;
    margin: 0;
  }
  
  .login__body {
    background-color:  green;
    padding: 2.5em;
    position: relative;
    border-top: 5px solid white;

  } 
  
 #input {
   background-color: white;
   margin-top: 1.5rem
 }

  .fieldinput {
    margin-bottom: 5%
  }


  .alert {
    text-align: center;
    color: red;
    text-transform: uppercase;
    line-height: 105%;
    padding: 0;
    font-size: 1.5rem;
    margin: 1%;
    background-color:  #b7b7c4;
  }

  
  
  @media screen and (max-width: 600px) {
    .grid {
      width: 70%;
      margin-top:16%;
      margin-bottom: 16%;
    }

  }

  @media screen and (max-width: 350px) {
    .grid {
      margin-top: 20%;
      margin-bottom: 20%;
    }
  }